[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = git@github.com:gmarik/Vundle.vim.git
[submodule "symlinks/vim/bundle/vundle"]
	path = symlinks/vim/bundle/vundle
	url = git@github.com:gmarik/Vundle.vim.git
